<a href="https://colab.research.google.com/github/tjdwn123/2025-1-myclass-BDA/blob/main/01w_A_mon_0310_BDA_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
sys.version

'3.11.11 (main, Dec  4 2024, 08:55:07) [GCC 11.4.0]'

In [2]:
import site
site.getsitepackages()

['/usr/local/lib/python3.11/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/lib/python3.11/dist-packages']

In [5]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

1.26.4
2.2.2

In [6]:
!pip instal koreanize-matplotlib

ERROR: unknown command "instal" - maybe you meant "install"

In [8]:
# 그림 선명하게
%config InlineBackend.figure_format='retina'

In [ ]:
import koreanize_matplotlib
import matplotlib.pyplot as plt

plt.plot([-3,1,5,6])
plt.title

## 시이즈 개요

In [11]:
import pandas as pd
import numpy as np
s=pd.Series([1,3,5,np.nan,6,8],name='first')
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
Name: first, dtype: float64

In [13]:
print(s.name)
print(s.index)
print(s.values)
print(s.shape)
print(s.size)

first
RangeIndex(start=0, stop=6, step=1)
[ 1.  3.  5. nan  6.  8.]
(6,)
6

In [14]:
s[0]

1.0

In [15]:
s[3]

nan

In [16]:
s[2]=50

In [18]:
s.index=list('abcdef')
s

a     1.0
b     3.0
c    50.0
d     NaN
e     6.0
f     8.0
Name: first, dtype: float64

In [19]:
s['a']

1.0

In [22]:
s['a':'d']

a     1.0
b     3.0
c    50.0
d     NaN
Name: first, dtype: float64

In [23]:
s[1:4]

b     3.0
c    50.0
d     NaN
Name: first, dtype: float64

In [25]:
s[1]

<ipython-input-25-f8bb2b116405>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1]

3.0

In [26]:
s1=s[1:4]
s1

b     3.0
c    50.0
d     NaN
Name: first, dtype: float64

In [29]:
s.index= np.arange(1,7)
s

1     1.0
2     3.0
3    50.0
4     NaN
5     6.0
6     8.0
Name: first, dtype: float64

In [30]:
s[1]

1.0

In [31]:
s[1:5] #원래 철자로 슬라이싱

2     3.0
3    50.0
4     NaN
5     6.0
Name: first, dtype: float64

##시리즈 고급 인덱싱

In [ ]:
ape=pd.Series([9,17,32,45,65,98],index=list[])

##불리안 인덱싱

In [32]:
s= pd.Series([3,6,-3,0,-4,8,-7])
s

0    3
1    6
2   -3
3    0
4   -4
5    8
6   -7
dtype: int64

In [33]:
s>0

0     True
1     True
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [34]:
s[s>0]

0    3
1    6
5    8
dtype: int64

the end